
@{
  Layout = "_Layout";
}

<h1>Welcome to Hanmak Technologies Bulletin Board</h1>

<p>@Html.ActionLink("See all bulletin", "Index", "Bulletin")</p>
<p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
